---
layout: default
rbar:
   - infobox
   - fb
   - video
   - calendar
youtube:
  id: jVk8xMIIczU
  #playlist: PLdQ939M6C_DsL6w9R-s86qbq0h-kRjuvK
  title: "Video"
  button:
    url: "https://www.youtube.com/channel/UC1ng92Mw2Ris_hofy95624Q"
    title: "Další videa na našem YouTube kanálu"
---

<!--Municipal elections results on the main page disabling. Request from Zuzka Klusová.

<div class="row">
  <div class="columns">
    <div class="msk-hero">
      <div class="msk-hero__content">
        <h1 class="t-h1-super">Komunální volby 2018</h1>
      </div>
    </div>
  </div>
</div>

{% include election-crossroad.html places=site.data.volby %}

-->

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading">Aktuální témata</h1>
        </header>
        {% for article in site.posts limit: 15 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        {% include articles/pagination1.html %}
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
