---
layout: default
rbar:
   - textbox
   - video
   - calendar
   - fb
youtube:
  id: nTE2ryZpqjs
  #playlist: PLKqQxo2sZ8NfKKow6zTMyVZF7jfzpIMw9 
  title: "Video"
  button:
    url: "https://www.youtube.com/user/CeskaPiratskaStrana/videos"
    title: "Další videa na našem YouTube kanálu"
textbox:
  title: Náš newsletter
  text: >
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    #mc_embed_signup{background:clear; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://pirati.us4.list-manage.com/subscribe/post?u=22756da9e8c54e91a23d46e5f&amp;id=2cf75a8bb4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Odbírej novinky e-mailem</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e-mailová adresa" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_22756da9e8c54e91a23d46e5f_2cf75a8bb4" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Přihlásit se" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
---

<!--Municipal elections results on the main page disabling. Request from Zuzka Klusová.

<div class="row">
  <div class="columns">
    <div class="msk-hero">
      <div class="msk-hero__content">
        <h1 class="t-h1-super">Komunální volby 2018</h1>
      </div>
    </div>
  </div>
</div>

{% include election-crossroad.html places=site.data.volby %}

-->

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header class="o-section-header">
          <h1 class="o-section__heading">Aktuální témata</h1>
        </header>
        {% for article in site.posts limit: 6 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        <div class="c-article-listing__nextbox">
          <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
        </div>
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
