<ul class="c-pagination text-center" role="navigation" aria-label="Pagination">
  <li class="c-pagination__link  c-pagination__link--current">
      <span class="c-pagination__anchor">1</span>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/2/" aria-label="Stránka 2">2</a>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/3/" aria-label="Stránka 3">3</a>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/4/" aria-label="Stránka 4">4</a>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/5/" aria-label="Stránka 5">5</a>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/6/" aria-label="Stránka 6">6</a>
  </li>
  <li class="c-pagination__link">
          <a class="c-pagination__anchor" href="./aktuality/7/" aria-label="Stránka 7">7</a>
  </li>
  <li class="c-pagination__next c-pagination__link">
    <a class="c-pagination__anchor" href="/aktuality/2/" aria-label="Další stránka">Další</a>
  </li>
</ul>
