---
title: Sleduj jihočeské Piráty
---
<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

  {% include head.html %}

  <body>
    <div class="c-top-bar">
      <div class="row">
        <div class="columns small-12">
          <div class="c-top-bar__body">
            <div class="c-top-bar__brand">
              <a href="{{ '/' | relative_url }}" class="c-top-bar__brand-link">
                <img src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" alt='Česká pirátská strana' class="c-top-bar__brand-image u-center-medium-down u-stacked">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">

    <div class="row">
      <div class="columns">
        <div class="o-section">
          <div class="o-section-inner">

          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">Sleduj jihočeské Piráty</h1>
          </header>

          <p style="font-size:140%">
Zajímá vás zákulisí a informace z jihočeské politiky?
          </p>
          <p style="font-size:140%">
Přihlaste se k odběru našich informací, nemusíte se bát, neposíláme jich moc, kdykoli se můžete odhlásit a Vaši e-mailovou adresu nikomu nepředáme.
          </p>
          <p>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://pirati.us4.list-manage.com/subscribe/post?u=22756da9e8c54e91a23d46e5f&amp;id=2cf75a8bb4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Přihlásit se k odběru novinek e-mailem</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="emailová adresa" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_22756da9e8c54e91a23d46e5f_2cf75a8bb4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Přihlásit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
          </p>
          <p >
          Nebo nás sledujte na sociálních sítích: 
              <a href="https://www.facebook.com/pirati.jck/" rel="noopener noreferrer" title="Facebook - Piráti JČK">
                <i class="fa fa-facebook c-icon c-icon--big" aria-hidden="true"></i>
              </a>


              <a href="https://www.twitter.com/PiratiJcK" rel="noopener noreferrer" title="Twitter - Piráti JČK">
                <i class="fa fa-twitter c-icon c-icon--big" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/pirati.jihocesky/" rel="noopener noreferrer" title="Instagram - Piráti JČK">
                <i class="fa fa-instagram c-icon c-icon--big" aria-hidden="true"></i>
              </a>
          </p>
          <p >
          <a href="https://www.pirati.cz/o-nas/ochrana-osobnich-udaju/">Ochrana osobních údajů</a>
          </p>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>

    {% include js/main.html %}
  </body>

</html>
